<!--  Login page for Mark Richmond's Music API for CSE341 -->  
<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Mark Richmond Music Collection Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Login for Music Collection for Mark Richmond in CSE341 at Brigham Young University - Idaho">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:wght@100&family=Sansita+Swashed:wght@300&family=Spline+Sans:wght@300&display=swap" rel="stylesheet">
  <!-- Normalize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3>Music Catalog Manager</h3>
                <div class="section">
                    <p class="lead">Manage Your Music Collection Catalog</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <a href="/auth/google" class="button red darken-1">
                        <i class="fab fa-google left"></i> Login with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>